.download_btn_parent {
    display: flex;
    gap: 10px;
}

.download_btn {
    flex-grow: 1;
}

.download_btn_text {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 56px;
    border-radius: 16px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 14px;
    transition: box-shadow 0.25s ease 0s;
    color: white;
    background: linear-gradient(116.63deg, rgb(254, 145, 80) 8.97%, rgb(254, 100, 70) 92.93%);
    width: 100%;
    font-size: 14px;
    padding: 20px;
}

.download_btn_text:hover {
    box-shadow: rgb(254, 145, 80) 0px 0px 19px;
}
